service:
  name: wenindoubt
# app and org for use with dashboard.serverless.com
#app: your-app-name
#org: your-org-name

custom:
  webpack:
    webpackConfig: ./webpack.config.js
    includeModules: true
  config:
    userPoolArn: arn:aws:cognito-idp:us-west-2:924647709643:userpool/us-west-2_pEr6Ks9Dr

# Add the serverless-webpack plugin
plugins:
  - serverless-webpack

provider:
  name: aws
  runtime: nodejs12.x
  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'us-west-2'}
  apiGateway:
    minimumCompressionSize: 1024 # Enable gzip compression for responses > 1 KB
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
      Resource:
        - arn:aws:dynamodb:${self:provider.region}:*:table/dev-PlayTable
  environment:
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: 1
#    REGION: ${self:provider.region}
    PLAY_TABLE: ${self:provider.stage}-PlayTable

functions:
  playLambda:
    handler: handler.playLambda
    events:
      - http:
          method: get
          path: playLambda
          cors: true

  getFacebookFrameworks:
    handler: playDynamoDb.getFacebookFrameworks
    events:
      - http:
          method: get
          path: playFacebook
          cors: true

  getGoogleFrameworks:
    handler: playDynamoDb.getGoogleFrameworks
    events:
      - http:
          method: get
          path: playGoogle
          cors: true

  hello:
    handler: handler.hello
    events:
      - http:
          method: get
          path: hello
          cors: true
          authorizer:
            type: COGNITO_USER_POOLS
            scopes:
              - hello/create_product
            authorizerId:
              Ref: ApiGatewayAuthorizer

resources:
  Resources:
    ApiGatewayAuthorizer:
      DependsOn:
        - ApiGatewayRestApi
      Type: AWS::ApiGateway::Authorizer
      Properties:
        Name: cognito-authorizer
        IdentitySource: method.request.header.Authorization
        RestApiId:
          Ref: ApiGatewayRestApi
        Type: COGNITO_USER_POOLS
        ProviderARNs:
          - ${self:custom.config.userPoolArn}

    PlayTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.PLAY_TABLE}
        AttributeDefinitions:
          - AttributeName: pk
            AttributeType: S
          - AttributeName: sk
            AttributeType: S
          - AttributeName: data
            AttributeType: S
        KeySchema:
          - AttributeName: pk
            KeyType: HASH
          - AttributeName: sk
            KeyType: RANGE
        GlobalSecondaryIndexes:
          - IndexName: gsi_1_pk
            KeySchema:
              - AttributeName: pk
                KeyType: HASH
              - AttributeName: data
                KeyType: RANGE
            Projection:
              ProjectionType: ALL

        BillingMode: PAY_PER_REQUEST
